<br /><br />
    <h1 style="text-align: center;">
      <b
        ><u>
          Affidavit Form
        </u></b
      >
    </h1>
<br /><br />

<div class="d-flex justify-content-center">
    <form class="border pl-3 pr-2 pt-2 pb-2 col-md-6 alert alert-warning pt-5 pb-5" #login="ngForm">
        <p>
            I,<input type="text" name="name" id="name"> son of <input type="text" name="fname" id="fname">resident of <input type="text" name="address" id="address">
            ,state<input type="text" name="state" id="state"> ,country<input type="text" name="country" id="country">.<br><br>
            I solemnly state that the contents of this FIR are true to the best by my knowledge and belief and that it conceals nothing and that no part of it is false.
            <br><br>
            I hereby understand the fact that if any of the information provided by me in the FIR, proves to be false,then a suitable legal action could be taken against me.<br><br>
            <app-signature-pad-page></app-signature-pad-page>
            <br><br>
            <button type="submit">Submit</button>
        </p>
    </form>
</div>

